.main {
  width: 100%;
  > .section {
    background-color: white;
    padding-inline: 100px;
    > .hero {
      display: flex;
      align-items: center;
      gap: 20px;
      width: 100%;
      height: calc(100vh-60px);

      > .heroContent {
        width: 50%;
        padding: 20px;

        /* add animation */
        animation-name: fadeInUp;
        animation-duration: 1.5s;
        animation-fill-mode: backwards;
        animation-direction: normal;
        animation-timing-function: ease;

        > .heroHeading {
          font-size: 40px;
          line-height: 45px;
          padding-bottom: 20px;
          width: 90%;
        }
        > .heroInfo {
          padding-bottom: 20px;
          width: 85%;
          font-size: 16px;
          font-weight: 500;
        }
        > .heroLink {
          > .heroButton {
            display: flex;
            align-items: center;
            gap: 8px;
            border: none;
            outline: none;
            background-color: var(--blue-color);
            color: white;
            padding: 15px 20px;
            margin-bottom: 20px;
            border-radius: 5px;
            font-weight: bold;

            > .arrowRight {
              font-size: 20px;
            }
          }
          > .heroButton:hover {
            background-color: var(--orange-color);
          }
        }
      }
      > .heroImageBox {
        width: 50%;
        height: 100%;
        > .heroImage {
          width: 100%;
          height: 100%;
          object-fit: cover;

          /* add animation */
          animation-name: fadeIn;
          animation-duration: 3s;
          animation-timing-function: ease;
          animation-fill-mode: forwards;
        }
      }
    }
  }

  /* feature section */
  > .featuresSection {
    margin-block: 75px;
    padding-inline: 100px;
    > .featuresBox {
      > .feature {
        background-color: var(--grey-color);
        width: 100%;
        height: max-content;
        display: flex;
        align-items: center;
        margin-bottom: 75px;
        gap: 20px;

        > .featureContent {
          width: 50%;
          padding: 20px;
          > .featureHeading {
            font-size: 25px;
            line-height: 35px;
            padding-bottom: 20px;
            width: 80%;
          }
          > .featureInfo {
            padding-bottom: 20px;
            width: 70%;
          }
          > .buttonBox {
            > .featureLink {
              > .featureButton {
                display: flex;
                align-items: center;
                gap: 8px;
                border: none;
                outline: none;
                background-color: black;
                color: white;
                padding: 10px;
                border-radius: 5px;
                > .arrowRight {
                  font-size: 16px;
                }
              }
              > .featureButton:hover {
                background-color: var(--blue-color);
              }
            }
          }
        }
        > .featureImageBox {
          width: 50%;
          height: inherit;
          > .featureImage {
            width: 100%;
            height: 100%;
          }
        }
      }
      > .feature:nth-of-type(2),
      .feature:nth-of-type(4) {
        > .featureContent {
          order: 2;
        }
        > .featureImageBox {
          order: 1;
        }
      }
    }
  }

  /* call to action section */
  > .ctaSection {
    padding: 0 100px 75px;
    color: white;
  }
}

@keyframes fadeInUp {
  0% {
    transform: translate(0px, 100px);
    opacity: 0;
  }
  100% {
    transform: translate(0px, 0);
    opacity: 1;
  }
}

/* animation fade in */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
