.main {
  width: 100%;
  > .section {
    > .loadingBox {
      width: 100%;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      > .image {
        height: 200px;
        width: 200px;
        padding-bottom: 5px;
      }
      > .loader {
        width: 150px;
        font-weight: bold;
        font-family: sans-serif;
        font-size: 30px;
        padding-bottom: 8px;
        background: linear-gradient(currentColor 0 0) 0 100%/0% 3px no-repeat;
        animation: l2 1s linear infinite;
      }
    }
  }
}

@keyframes l2 {to{background-size: 100% 3px}}