.main{
    > .cta {
        display: flex;
        color: var(--blue-color);
        gap: 20px;
        margin: 50px auto 0;
        width: 70%;
        background-image: url("../../../public/images/personal\ backg\ image.png");
        background-size: contain;
        box-shadow: 15px 30px 30px rgba(109, 77, 25, 0.07);
        border-radius: 5px;
        border: 1px solid hsla(228, 7%, 87%, 0.5);
  
        > .ctaContent {
          display: flex;
          flex-direction: column;
          justify-content: center;
          width: 50%;
          padding: 30px;
          > .ctaHeading {
            font-size: 40px;
            line-height: 45px;
            width: 90%;
            padding-bottom: 30px;
          }
          > .ctaInfo {
            padding-bottom: 30px;
          }
          > .iconBox {
            display: flex;
            gap: 20px;
          }
        }
  
        > .ctaImage {
          width: 50%;
          height: 350px;
          > .image {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
}