.main {
  > .ctaBox {
    background-image: url("../../../../public/images/POS\ backg\ image.png");
    background-position: center;
    background-size: cover;
    border: 1px solid hsla(228, 7%, 87%, 0.5);
    box-shadow: 15px 30px 40px rgba(0, 0, 0, 0.07);
    margin: 30px auto;
    display: flex;
    align-items: center;
    width: 80%;
    padding: 20px 30px;
    border-radius: 5px;
    color: white;
    height: 350px;

    > .ctaContent {
      width: 50%;
      > .ctaHeading {
        font-size: 30px;
        line-height: 35px;
        padding-bottom: 25px;
      }
      > .ctaInfo {
        padding-bottom: 30px;
      }
      > .ctaIcon{
        display: flex;
        gap: 10px;
      }
    }
    > .ctaImageBox {
      width: 50%;
      height: inherit;
      > .ctaImage {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

@media  screen and (max-width: 1000px) {
  .main{
    > .ctaBox{
      width: 90%;
      height: fit-content;
      > .ctaContent{
        width: 100%;
        text-align: center;
        > .ctaIcon{
          justify-content: center;
        }
      }
      > .ctaImageBox{
        display: none;
      }
    }
  }
}

@media screen and (max-width:700px) {
  .main{
    > .ctaBox{
      > .ctaContent{
         > .ctaIcon{
          flex-direction: column;
         }
      }
    }
  }
}