.main {
  max-width: 100%;
  > .section {
    padding-inline: 100px;
    > .hero {
      display: flex;
      align-items: center;
      gap: 20px;
      width: 100%;
      height: calc(100vh-60px);

      > .heroContent {
        width: 50%;

        /* add animation */
        animation-name: fadeInUp;
        animation-duration: 1.5s;
        animation-fill-mode: backwards;
        animation-direction: normal;
        animation-timing-function: ease;

        > .heroHeading {
          font-size: 48px;
          line-height: 50px;
          padding-bottom: 20px;
        }
        > .heroInfo {
          padding-bottom: 20px;
          width: 80%;
          font-size: 16px;
          font-weight: 500;
        }
        > .heroLink {
          > .heroButton {
            display: flex;
            align-items: center;
            gap: 8px;
            border: none;
            outline: none;
            background-color: var(--blue-color);
            color: white;
            padding: 15px 20px;
            margin-bottom: 20px;
            border-radius: 5px;
            font-weight: bold;
            > .arrowRight {
              font-size: 20px;
            }
          }
          > .heroButton:hover {
            background-color: var(--orange-color);
          }
        }
        > .licenses {
          display: flex;
          gap: 20px;
        }
      }
      > .heroImageBox {
        width: 50%;
        height: 100%;
        > .heroImage {
          width: 100%;
          height: 100%;
          object-fit: cover;

          /* add animation */
          animation-name: fadeIn;
          animation-duration: 3s;
          animation-timing-function: ease;
          animation-fill-mode: forwards;
        }
      }
    }
  }

  > .featuresSection {
    margin-block: 100px;
    padding-inline: 100px;
   
    }
  /* testimonial section */
  > .testimonialSection {
    background-color: white;

    > .testimonialHeading {
      text-align: center;
      font-size: 40px;
      line-height: 45px;
      padding: 30px 0 75px;
    }
  }

  /* call to action section*/
  > .ctaSection{
    padding:0 100px 75px;
  }
}

/* animation fadeinup */
@keyframes fadeInUp {
  0% {
    transform: translate(0px, 100px);
    opacity: 0;
  }
  100% {
    transform: translate(0px, 0);
    opacity: 1;
  }
}

/* animation fade in */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


@media screen and (max-width: 1000px) {
  .main{
    > .section{
      padding-inline: 30px;
      > .hero{
        flex-direction: column;
        > .heroContent{
          text-align: center;
          width: 100%;
          margin: 30px 0 50px;
          > .heroHeading{
            width: 70%;
            margin: 0 auto;
          }
          > .heroInfo{
            margin: 0 auto;
          }
          > .heroLink{
            > .heroButton{
              margin: 0 auto;
            }
          }
          > .licenses{
            justify-content: center;
            margin: 20px 0;
          }
        }
        > .heroImageBox{
          width: 100%;
        }
      }
    }
    > .featuresSection{
      padding-inline: 30px;
    }
    > .ctaSection{
      padding-inline: 30px;
    }
  }
}

@media screen and (max-width:700px) {
  .main{
    > .section{
      > .hero{
        > .heroContent{
          > .heroHeading{
            width: 100%;
          }
          > .heroInfo{
            margin: 0 auto;
          }
          > .heroLink{
            > .heroButton{
              margin: 0 auto;
            }
          }
        }
      }
    }
  }
}
