.main {
  width: 100%;
  > .section {
    padding-inline: 100px;
    > .hero {
      display: flex;
      align-items: center;
      gap: 20px;
      width: 100%;
      height: calc(100vh-50px);

      > .heroContent {
        width: 50%;

        /* add animation */
        animation-name: fadeInUp;
        animation-duration: 1.5s;
        animation-fill-mode: backwards;
        animation-direction: normal;
        animation-timing-function: ease;

        > .heroHeading {
          font-size: 48px;
          line-height: 50px;
          padding-bottom: 20px;
        }
        > .heroInfo {
          padding-bottom: 20px;
          width: 80%;
          font-size: 16px;
          font-weight: 500;
        }
        > .heroLink {
          > .heroButton {
            display: flex;
            align-items: center;
            gap: 8px;
            border: none;
            outline: none;
            background-color: var(--blue-color);
            color: white;
            padding: 15px 20px;
            margin-bottom: 20px;
            border-radius: 5px;
            font-weight: bold;
            > .arrowRight {
              font-size: 20px;
            }
          }
          > .heroButton:hover {
            background-color: var(--orange-color);
          }
        }
        > .licenses {
          display: flex;
          gap: 20px;
        }
      }
      > .heroImageBox {
        width: 50%;
        height: 100%;
        > .heroImage {
          width: 100%;
          height: 100%;
          object-fit: cover;

          /* add animation */
          animation-name: fadeIn;
          animation-duration: 3s;
          animation-timing-function: ease;
          animation-fill-mode: forwards;
        }
      }
    }
  }

  > .featuresSection {
    margin-block: 75px;
    padding-inline: 100px;
    > .featuresBox {
      > .feature {
        background-color: var(--grey-color);
        width: 100%;
        height: max-content;
        display: flex;
        align-items: center;
        margin-bottom: 75px;
        gap: 20px;

        > .featureContent {
          width: 50%;
          padding: 20px;
          > .featureHeading {
            font-size: 30px;
            line-height: 35px;
            padding-bottom: 20px;
            width: 70%;
          }
          > .featureInfo {
            padding-bottom: 20px;
            width: 70%;
          }
          > .featureLists {
            width: 100%;
            padding-bottom: 20px;
            > .featureList {
              display: flex;
              gap: 5px;
              > .check {
                color: var(--green-color);
              }
            }
          }
          > .buttonBox {
            display: flex;
            gap: 20px;
            > .featureLink {
              > .featureButton {
                display: flex;
                align-items: center;
                gap: 8px;
                border: none;
                outline: none;
                background-color: black;
                color: white;
                padding: 10px;
                border-radius: 5px;
                > .arrowRight {
                  font-size: 16px;
                }
              }
              > .featureButton:hover {
                background-color: var(--blue-color);
              }
            }
            > .featureLink2 {
              > .featureButton2 {
                padding: 12px;
                border-radius: 5px;
                border: 2px solid var(--grey-color);
                background-color: white;
                outline: none;
              }
              > .featureButton2:hover {
                background-color: var(--blue-color);
                color: white;
              }
            }
          }
        }
        > .featureImageBox {
          width: 50%;
          height: 350px;
          > .featureImage {
            width: 100%;
            height: 100%;
          }
        }
      }
      > .feature:nth-of-type(2),
      .feature:nth-of-type(4) {
        > .featureContent {
          order: 2;
        }
        > .featureImage {
          order: 1;
        }
      }
    }
  }
  /* testimonial section */
  > .testimonialSection {
    background-color: white;

    > .testimonialHeading {
      text-align: center;
      font-size: 40px;
      padding: 25px 0 75px;
    }
  }

  /* call to action section*/
  > .ctaSection{
    padding-inline: 100px;
    margin-block: 750x;
    color: white;
    > .ctaBox{
        background-image: url("../../../../../public/images/business\ backg\ Image.png");
        background-position: center;
        background-size: cover;
        border: 1px solid hsla(228, 7%, 87%, .5);
        box-shadow: 15px 30px 40px rgba(0, 0, 0, .07);
        margin: 0 auto;
        display: flex;
        align-items: center;
        width: 80%;
        padding: 30px 60px;
        border-radius: 5px;
        > .ctaContent{
            width: 50%;
            > .ctaHeading{
                font-size: 30px;
                line-height: 35px;
                padding-bottom: 20px;
            }
            > .ctaInfo{
                padding-bottom: 30px;
            }
            > .licenses{
                display: flex;
                gap: 10px;
            }
        }
        > .ctaImageBox{
            width: 50%;
            > .ctaImage{
                width: 100%;
                height: auto;
            }
        }
    }
  }
}

@keyframes fadeInUp {
  0% {
    transform: translate(0px, 100px);
    opacity: 0;
  }
  100% {
    transform: translate(0px, 0);
    opacity: 1;
  }
}

/* animation fade in */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
