.main {
  > .feature {
    background-color: var(--grey-color);
    width: 100%;
    height: max-content;
    display: flex;
    align-items: center;
    margin-bottom: 75px;
    gap: 20px;

    > .featureContent {
      width: 50%;
      padding: 20px;
      > .featureHeading {
        font-size: 30px;
        line-height: 35px;
        padding-bottom: 20px;
        width: 70%;
      }
      > .featureInfo {
        padding-bottom: 20px;
        width: 70%;
      }
      > .featureLists {
        width: 100%;
        padding-bottom: 20px;
        > .featureList {
          display: flex;
          gap: 5px;
          > .check {
            color: var(--green-color);
          }
        }
      }
      > .buttonBox {
        display: flex;
        gap: 20px;
        > .featureLink1 {
          > .featureButton1 {
            display: flex;
            align-items: center;
            gap: 8px;
            border: none;
            outline: none;
            background-color: black;
            color: white;
            padding: 10px;
            border-radius: 5px;
            > .arrowRight {
              font-size: 16px;
            }
          }
          > .featureButton1
          > .featureButton1:hover {
            background-color: var(--blue-color);
          }
        }
        > .featureLink2 {
          > .featureButton2 {
            padding: 12px;
            border-radius: 5px;
            border: 2px solid var(--grey-color);
            background-color: white;
            outline: none;
          }
          > .featureButton2:hover {
            background-color: var(--blue-color);
            color: white;
          }
        }
      }
    }
    > .featureImageBox {
      width: 50%;
      height: auto;
      > .featureImage {
        width: 100%;
        height: 100%;
      }
    }
  }
  > .feature:nth-of-type(2),
  .feature:nth-of-type(4) {
    > .featureContent {
      order: 2;
    }
    > .featureImageBox {
      order: 1;
    }
  }
}
