.main {
  max-width: 100%;
  > .feature {
    background-color: var(--grey-color);
    width: 100%;
    height: max-content;
    display: flex;
    align-items: center;
    margin-bottom: 75px;
    gap: 20px;

    > .featureContent {
      width: 50%;
      padding: 20px;
      > .featureHeading {
        font-size: 25px;
        line-height: 35px;
        padding-bottom: 20px;
        width: 80%;
      }
      > .featureInfo {
        padding-bottom: 20px;
        width: 70%;
      }
      > .buttonBox {
        > .featureLink {
          > .featureButton {
            display: flex;
            align-items: center;
            gap: 8px;
            border: none;
            outline: none;
            background-color: black;
            color: white;
            padding: 10px;
            border-radius: 5px;
            > .arrowRight {
              font-size: 16px;
            }
          }
          > .featureButton:hover {
            background-color: var(--blue-color);
          }
        }
      }
    }
    > .featureImageBox {
      width: 50%;
      height: 325px;
      > .featureImage {
        width: 100%;
        height: 100%;
      }
    }
  }
  > .feature:nth-of-type(2),
  .feature:nth-of-type(4) {
    > .featureContent {
      order: 2;
    }
    > .featureImageBox {
      order: 1;
    }
  }
}

@media screen and (max-width: 1000px) {
  .main {
    > .feature {
      flex-direction: column;
      > .featureContent {
        text-align: center;
        width: 100%;
        > .featureHeading {
          margin: 0 auto;
        }
        > .featureInfo {
          margin: 0 auto;
        }
        > .buttonBox {
          > .featureLink{
            > .featureButton{
              margin: 0 auto;
            }
          }
        }
      }
      > .featureImageBox {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .main {
    > .feature {
      > .featureContent {
        > .featureHeading {
          width: 100%;
        }
        > .featureInfo {
          width: 100%;
        }
        > .buttonBox {
          justify-content: center;
        }
      }
    }
  }
}
