.main {
    width: 100%;
    color: var(--blue-color);
    background-color: var(--grey-color);
    > .section {
      > .hero{
        width: 100%;
        background-image: url("../../../../../public/images/personal\ backg\ image.png");
        background-size: contain;
        padding: 120px 100px 120px;
        margin-bottom: 100px;
        border-radius: 0 0 50% 50% / 50px; 
        > .heroHeading2{
          text-align: center;
          margin: 0 auto;
          font-size: 60px;
          line-height: 65px;
          width: 90%;
          padding-block: 15px;
          letter-spacing: 2px;
        }
        > .heroDesc{
          font-size: 14px;
          line-height: 23px;
          text-align: center;
          margin: 0 auto;
          width: 80%;
        }
      }
    }


    > .blogSection{
        padding-inline: 100px;
        > .blogsBox{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            padding-bottom: 25px;
        }
    }

     /* call to action section*/
  > .ctaSection{
    padding:0 100px 75px;
  }
}


@media screen and (max-width:1000px) {
  .main{
    > .section{
      > .hero{
        padding-inline: 30px;
      }
    }
    > .blogSection{
      padding-inline: 30px;
    }
  }
}

@media screen and (max-width: 700px) {
  .main{
    > .section{
      > .hero{
        > .heroHeading2{
          font-size: 30px;
          line-height: 35px;
          width: 100%;
        }
        > .heroDesc{
          width: 90%;
          width: 100%;
        }
      }
    }

    > .blogSection{
      padding-inline: 10px;
      > .blogsBox{
        width: 100%;
        display: block;
      }
    }

    > .ctaSection{
      padding-inline: 30px;
    }
  }
}