.main {
    width: 100%;
    color: var(--blue-color);
    background-color: var(--grey-color);
    > .section {
      > .hero{
        width: 100%;
        background-image: url("../../../../../public/images/personal\ backg\ image.png");
        background-size: contain;
        padding: 120px 100px 120px;
        margin-bottom: 100px;
        border-radius: 0 0 50% 50% / 50px; 
        > .heroHeading2{
          text-align: center;
          margin: 0 auto;
          font-size: 60px;
          line-height: 65px;
          width: 90%;
          padding-block: 15px;
          letter-spacing: 2px;
        }
        > .heroDesc{
          font-size: 14px;
          line-height: 23px;
          text-align: center;
          margin: 0 auto;
          width: 80%;
        }
      }
    }


    > .blogSection{
        padding-inline: 100px;
        > .blogsBox{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            padding-bottom: 25px;
        }
    }

     /* call to action section*/
  > .ctaSection{
    padding:0 100px 75px;
    color: rgb(228, 228, 228);
    > .ctaBox{
        background-image: url("../../../../../public/images/business\ backg\ Image.png");
        background-position: center;
        background-size: cover;
        border: 1px solid hsla(228, 7%, 87%, .5);
        box-shadow: 15px 30px 40px rgba(0, 0, 0, .07);
        margin: 0 auto;
        display: flex;
        align-items: center;
        width: 80%;
        padding: 30px 60px;
        border-radius: 5px;
        > .ctaContent{
            width: 50%;
            > .ctaHeading{
                font-size: 30px;
                line-height: 35px;
                padding-bottom: 20px;
            }
            > .ctaInfo{
                padding-bottom: 30px;
            }
            > .licenses{
                display: flex;
                gap: 10px;
            }
        }
        > .ctaImageBox{
            width: 50%;
            > .ctaImage{
                width: 100%;
                height: auto;
            }
        }
    }
  }
}