.main{
    color: var(--blue-color);
    background-color: var(--light-orange);
    max-width: 100%;
    > .section{
        padding: 100px;
        > .heading{
            font-size: 40px;
            line-height: 45px;
            text-align: center;
            padding-bottom: 10px;
        }
        > .desc{
            color: rgba(0, 0, 0, 0.851);
            text-align: center;
        }
        > .buttonBox{
            display: flex;
            max-width: 100%;
            margin: 30px 70px 50px;
            justify-content: space-between;
            box-shadow: 0 2px 2px rgba(0, 0, 0, .1);
            padding: 10px 50px;
            background-color: white;
            border-radius: 30px;
            > .button{
                display: flex;
                gap: 10px;
                border: none;
                outline: none;
                background: none;
                font-size: 16px;
                font-weight: 400;
            }
        }
        > .jobBox{
            background-color: white;
            max-width: 100;
            padding-inline: 100px;
            margin-inline: 70px;
            height: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            > .jobInfo{
                font-size: 40px;
                line-height: 45px;
                font-weight: 500;
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    .main{
        > .section{
            padding: 30px;
            > .jobBox{
                margin-inline: 0;
                height: fit-content;
                padding: 20px;
            }
            > .buttonBox{
                margin: 30px 0 50px;
                padding: 10px;
            }
        }
    }
}