.main {
    max-width: 100%;
    color: var(--blue-color);
    background-color: var(--light-orange);
  
    > .section {
    padding-block: 60px;
      > .hero {
        display: flex;
        padding: 20px 150px 0;
        height: fit-content;
  
        > .content {
          width: 50%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding-bottom: 40px;
  
  
          > .heading {
            width: 90%;
            font-size: 45px;
            padding-bottom: 20px;
            line-height: 50px;
          }
          > .description {
            width: 85%;
            font-size: 16px;
            padding-bottom: 20px;
            font-weight: 500;
            color: black;
          }
          > .download {
            display: flex;
            gap: 10px;
            margin-bottom: 10px;
          }
          > .licenses {
            display: flex;
            gap: 20px;
            > .ndic {
              padding-top: 2px;
            }
          }
        }
        > .imageBox {
          width: 50%;
          height: 100%;
          > .image {
            width: 100%;
            height: 100%;
            object-fit: contain;
            padding-bottom: 50px;
  
          }
        }
      }
    }  
}

@media screen and (max-width: 1000px) {
  .main{
    > .section{
      > .hero{
        flex-direction: column;
        padding-inline: 30px;
        > .content{
          width: 100%;
          text-align: center;
          > .heading, .description{
            width: 100%;
            margin-inline: auto;
          }
          > .download, .licenses{
            justify-content: center;
          }
        }
        > .imageBox{
          width: 100%;
        }
      }
    }
  }
}