.main {
  width: 100%;
  color: var(--blue-color);
  > .section {
    padding-inline: 100px;
    > .hero {
      width: 100;
      display: flex;
      gap: 20px;
      margin-block: 100px;

      > .heroContent {
        width: 50%;
        padding: 10px;
        > .heroHeading {
          font-size: 40px;
          font-weight: bolder;
          padding-bottom: 30px;
        }
        > .heroInfo {
          padding-bottom: 20px;
          text-align: justify;
        }
        > .buttonLink {
          > .joinButton {
            padding: 10px;
            border-radius: 5px;
            background-color: var(--orange-color);
            color: white;
            border: none;
          }
          > .joinButton:hover{
            transition: all ease-in-out 0.3s;
            background-color: var(--blue-color);
          }
        }
      }
      > .heroImage {
        width: 50%;
      }
    }
    > .otherAbout {
      > .otherAboutHeading {
        font-size: 30px;
        text-align: center;
        padding-bottom: 20px;
      }
      > .otherAboutInfo {
        text-align: center;
      }
    }

    > .cta {
      display: flex;
      gap: 20px;
      margin: 50px auto;
      width: 80%;

        > .ctaContent {
            width: 50%;
            padding: 30px;
            > .ctaHeading {
            font-size: 30px;
            padding-bottom: 20px;
            }
            > .ctaInfo {
            padding-bottom: 40px;
            }
            > .iconBox {
            display: flex;
            gap: 20px;
            }
        }

        > .ctaImage {
            width: 50%;
        }
    }
  }
}
