.main{
    width: 100%;
    > .section{
        padding-inline: 100px ;
        > .hero{
            display: flex;
            align-items: center;
            gap: 20px;
            width: 100%;
            height: calc(100vh-50px);

            > .heroContent{
                width: 50%;
                > .heroHeading{
                    font-size: 48px;
                    line-height: 50px;
                    padding-bottom: 20px;
                }
                > .heroInfo{
                    padding-bottom: 20px;
                    width: 80%;
                    font-size: 16px;
                    font-weight: 500;
                }
                > .heroLink{
                    > .heroButton{
                        display: flex;
                        align-items: center;
                        gap: 8px;
                        border: none;
                        outline: none;
                        background-color: var(--blue-color);
                        color: white;
                        padding: 15px 20px ;
                        margin-bottom: 20px;
                        border-radius: 5px;
                        font-weight: bold;
                        > .arrowRight{
                            font-size: 20px;
                        }
                    }
                }
                > .licenses{
                    display: flex;
                    gap: 20px;
                }
            }
            > .heroImageBox{
                width: 50%;
                height: 100%;
                > .heroImage{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }

    > .featuresSection{
        margin-block: 75px;
        padding-inline: 100px;
        > .featuresBox{
            > .feature{
                background-color: var(--grey-color);
                width: 100%;
                height: 300px;
                display: flex;
                align-items: center;
                padding: 20px;
                margin-bottom: 50px;

                > .featureContent{
                    width: 50%;
                    > .featureHeading{
                        font-size: 30px;
                        line-height: 30px;
                        padding-bottom: 20px;
                        width: 70%;
                    }
                    > .featureInfo{
                        padding-bottom: 10px;
                        width: 70%;
                    }
                    > .featureLists{
                        width: 100%;
                        padding-bottom: 20px;
                        > .featureList{
                            display: flex;
                            gap:5px;
                            > .check{
                                color: var(--green-color);
                            }
                        }
                    }
                    > .featureLink{
                        > .featureButton{
                            display: flex;
                            align-items: center;
                            gap: 8px;
                            border: none;
                            outline: none;
                            background-color: black;
                            color: white;
                            padding: 10px ;
                            border-radius: 5px;
                            > .arrowRight{
                                font-size: 16px;
                            }
                        }
                    }
                }
                > .featureImage{
                     width: 50%;
                }
            }
        }
    }
}