.main {
  width: 100%;
  > .section {
    background-color: white;
    padding-inline: 100px;
    > .hero {
      display: flex;
      align-items: center;
      width: 100%;
      gap: 20px;
      height: calc(100vh - 60px);

      > .heroContent {
        width: 50%;
        padding: 20px;

        /* add animation */
        animation-name: fadeInUp;
        animation-duration: 1.5s;
        animation-fill-mode: backwards;
        animation-direction: normal;
        animation-timing-function: ease;
        > .heroHeading {
          font-size: 48px;
          line-height: 53px;
          padding-block: 20px;
        }
        > .heroDesc {
          font-size: 16px;
          line-height: 23px;
          padding-bottom: 20px;
          width: 90%;
        }
        > .featureLink {
          > .featureButton {
            display: flex;
            align-items: center;
            gap: 8px;
            border: none;
            outline: none;
            background-color: var(--blue-color);
            color: white;
            padding: 10px;
            border-radius: 5px;
            > .arrowRight {
              font-size: 16px;
            }
          }
          > .featureButton:hover {
            background-color: var(--blue-color);
          }
        }
      }
      > .heroImage {
        width: 50%;
        height: 100%;
        > .image {
          width: 100%;
          height: 100%;

          /* add animation */
          animation-name: fadeIn;
          animation-duration: 3s;
          animation-timing-function: ease;
          animation-fill-mode: forwards;
        }
      }
    }
  }
  > .featuresSection {
    margin-block: 75px;
    padding-inline: 100px;
    > .featuresBox {
      > .feature {
        background-color: var(--grey-color);
        width: 100%;
        height: max-content;
        display: flex;
        align-items: center;
        margin-bottom: 75px;
        gap: 20px;

        > .featureContent {
          width: 50%;
          padding: 20px;
          > .featureHeading {
            font-size: 25px;
            line-height: 35px;
            padding-bottom: 20px;
            width: 90%;
          }
          > .featureInfo {
            padding-bottom: 20px;
            width: 90%;
          }
          > .buttonBox {
            > .featureLink {
              > .featureButton {
                display: flex;
                align-items: center;
                gap: 8px;
                border: none;
                outline: none;
                background-color: black;
                color: white;
                padding: 10px;
                border-radius: 5px;
                > .arrowRight {
                  font-size: 16px;
                }
              }
              > .featureButton:hover {
                background-color: var(--blue-color);
              }
            }
          }
        }
        > .featureImageBox {
          width: 50%;
          height: inherit;
          > .featureImage {
            width: 100%;
            height: 100%;
          }
        }
      }
      > .feature:nth-of-type(2),
      .feature:nth-of-type(4) {
        > .featureContent {
          order: 2;
        }
        > .featureImageBox {
          order: 1;
        }
      }
    }
  }

  /* get pos section */
  > .getPosSection {
    padding-inline: 100px;
    > .getPosHeading {
      text-align: center;
      font-size: 30px;
      padding-bottom: 50px;
    }
    > .getPosContainer {
      display: flex;
      gap: 50px;
      width: 100%;

      > .getPosLists {
          border-left: 5px solid black;
           width: 40%;
        > .getPosList {
          display: flex;
          padding-block: 15px;
          gap: 20px;
          position: relative;

          > .number {
            position: absolute;
            right: 94%;
            bottom: 70%;
            top: 0;
            font-size: 20px;
            height: 50px;
            width: 13%;
            border-radius: 50%;
            background-color: black;
            text-align: center;
            color: white;
            padding-top: 15px;
            
          }
          > .getPosBox {
            width: 87%;
            margin-left: 50px;
            > .getPosBoxHeading {
              padding-bottom: 10px;
              font-size: 18px;
            }
          }
        }
        > .getPosList:nth-of-type(4){
          padding-bottom: 0;
        }
      }
      > .getPosImage {
        width: 60%;
        padding: 20px;
      }
    }
  }
  
   /* call to action section*/
  > .ctaSection{
    padding: 75px 100px 75px;
  }
}

@keyframes fadeInUp {
  0% {
    transform: translate(0px, 100px);
    opacity: 0;
  }
  100% {
    transform: translate(0px, 0);
    opacity: 1;
  }
}

/* animation fade in */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}