.main {
  max-width: 100%;
  > .section {
    background-color: white;
    > .hero {
      display: flex;
      align-items: center;
      width: 100%;
      gap: 20px;
      height: calc(100vh - 60px);
      background-color: var(--light-orange);
      padding-inline: 100px;

      > .heroContent {
        width: 50%;
        padding: 20px;

        /* add animation */
        animation-name: fadeInUp;
        animation-duration: 1.5s;
        animation-fill-mode: backwards;
        animation-direction: normal;
        animation-timing-function: ease;
        > .heroHeading {
          font-size: 48px;
          line-height: 53px;
          padding-block: 20px;
          color: var(--blue-color);
        }
        > .heroDesc {
          font-size: 16px;
          line-height: 23px;
          padding-bottom: 20px;
          width: 90%;
        }
        > .heroLink {
          > .heroButton {
            display: flex;
            align-items: center;
            gap: 8px;
            border: none;
            outline: none;
            background-color:black;
            color: white;
            padding: 10px;
            border-radius: 5px;
            > .arrowRight {
              font-size: 16px;
            }
          }
          > .heroButton:hover {
            background-color: var(--blue-color);
          }
        }
      }
      > .heroImage {
        width: 50%;
        height: 100%;
        > .image {
          width: 100%;
          height: 100%;
          object-fit: contain;

          /* add animation */
          animation-name: fadeIn;
          animation-duration: 3s;
          animation-timing-function: ease;
          animation-fill-mode: forwards;
        }
      }
    }
  }

  > .featuresSection {
    margin: 75px 0 25px;
    padding-inline: 100px;
  }

  /* get pos section */
  > .getPosSection {
    padding-inline: 100px;
    > .getPosHeading {
      text-align: center;
      font-size: 30px;
      padding-bottom: 50px;
      line-height: 35px;
    }
    > .getPosContainer {
      display: flex;
      gap: 50px;
      width: 100%;

      > .getPosLists {
          border-left: 5px solid black;
           width: 40%;
        > .getPosList {
          display: flex;
          padding-block: 15px;
          gap: 20px;
          position: relative;

          > .number {
            position: absolute;
            right: 94%;
            bottom: 70%;
            top: 0;
            font-size: 20px;
            height: 50px;
            width: 13%;
            border-radius: 50%;
            background-color: black;
            text-align: center;
            color: white;
            padding-top: 15px;
            
          }
          > .getPosBox {
            width: 87%;
            margin-left: 50px;
            > .getPosBoxHeading {
              padding-bottom: 10px;
              font-size: 18px;
            }
          }
        }
        > .getPosList:nth-of-type(4){
          padding-bottom: 0;
        }
      }
      > .getPosImage {
        width: 60%;
        padding: 20px;
      }
    }
  }
  
   /* call to action section*/
  > .ctaSection{
    padding: 75px 100px 75px;
  }
}

@keyframes fadeInUp {
  0% {
    transform: translate(0px, 100px);
    opacity: 0;
  }
  100% {
    transform: translate(0px, 0);
    opacity: 1;
  }
}

/* animation fade in */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 1000px) {
  .main{
    > .section{
      > .hero{
        height: fit-content;
        flex-direction: column;
        padding-inline: 30px;
        gap: 0;
        > .heroContent{
          padding: 0;
          text-align: center;
          width: 100%;
          margin: 30px 0 50px;
          > .heroHeading{
            width: 100%;
            font-size: 30px;
            line-height: 35px;
          }
          > .heroDesc{
            width: 100%;;
          }
          > .heroLink{
            > .heroButton{
              margin: 0 auto;
            }
          }
        }
        > .heroImage{
          width: 100%;
          height: 350px;
        }
      }
    }
    > .featuresSection{
      padding-inline: 30px;
    }
    > .getPosSection{
      padding-inline: 30px;
      > .getPosContainer{
        flex-direction: column;
        > .getPosLists{
          width: 100%;
        }
        > .getPosImage{
          width: 100%;
        }
      }
    }
    > .ctaSection{
      padding-inline: 30px;
    }
  }
}


@media screen and (max-width:700px) {
  .main{
    > .section{
      > .hero{
        > .heroContent{
          > .heroHeading{
            width: 100%;
          }
          > .heroInfo{
            margin: 0 auto;
          }
        }
        > .heroImage{
          height: 100%;
        }
      }
    }
  }
}