.header{
    background-color: white;

    > .section{
        padding-inline: 30px;
        height: 60px;
        display: flex;
        align-items: center;
        box-shadow: 0 4px 13px rgba(0, 0, 0, .05);
        width: 100%;

        > .container{
            width: inherit;
            display: flex;
            justify-content: space-between;

            > .content{
                display: flex;
                gap: 60px;
    
                  .logo{
                    width: 200px;
                    height: 60px;
                    object-fit: cover;
                    object-position: center;
                    padding-top: 10px;
                    cursor: pointer;
                }

                > .navItems{
                    display: flex;
                    gap: 40px;
                    align-items: center;

                    > .navItem{
                        padding: 5px;
                        position: relative;
                        color: var(--blue-color);

                        > .dropDown{
                            position: absolute;
                            top: 100%;
                            background-color: white;
                            box-shadow: 0 4px 13px rgba(0, 0, 0, .05);
                            width: 200px;
                            border-radius: 5px;
                            display: none;
                            animation: slideDown 0.3s ease-in-out;

                            > .dropDownLink{
                                color: var(--blue-color);

                                > .dropDownItem{
                                    padding-block: 7px;
                                    padding-inline: 10px;
                                }
                                > .dropDownItem:hover{
                                    color: var(--orange-color);
                                    transition: 0.3s all ease-in-out;
                                }
                            }
                        }
                        > .navLink{
                            color: var(--blue-color);
                        }
                        > .icon{
                            padding-left: 5px;
                            color: var(--blue-color);
                        }
                        > .navLink:hover{
                            transition: 0.3s all ease-in-out;
                            color: var(--orange-color);
                        }
                        > .navLink:hover + .icon{
                            transition: 0.3s all ease-in-out;
                            color: var(--orange-color);
                        }
                    }
                    > .navItem:hover .dropDown{
                        display: block;
                    }
                }
            }

            > .buttonBox{
                display: flex;
                align-items: center;
                gap: 10px;

                > .buttonLink{
                    > .button{
                        border-radius: 5px;
                        border: none;
                    }
                    > #signIn{
                        padding: 12px;
                        color: var(--blue-color);
                    }
                    > #signIn:hover{
                        background-color: var(--blue-color);
                        color: white;
                    }
                    > #signUp{
                        background-color: var(--orange-color);
                        color: #ffffff;
                        font-size: 16px;
                        padding: 10px;
                    }
                    > #signUp:hover{
                        color: white;
                        background-color: var(--blue-color);
                    }
                }
            }
        }
    }
}

/* Slide down animation */
@keyframes slideDown {
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translate(0);
    }
}