
:root {
  --blue-color: #163b50;
  --orange-color: #ef8f23;
  --cream-color: #eeeeee;
  --grey-color: #f7f7fb;
  --green-color: #48d38a;
  --light-orange: #fff1e0;
}
*::selection, *::-moz-selection, *::-webkit-selection{
  background-color: var(--blue-color);
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  font-optical-sizing: auto;
  -webkit-text-size-adjust: 100%;
}

html{
  scroll-behavior: smooth;
}

body {
 width: 100%;
 height: 100vh;
 background-color: white;
 font-optical-sizing: auto;
 font-style: normal;
 font-size: 14px;
 line-height: 20px;
}


a {
  text-decoration: none;
}

li{
  list-style: none;
}

button{
  transition: 0.3s all ease-in-out;
  cursor: pointer;
}

button:active{
  transform: scale(0.68);
}

@media screen and (max-width:1000px) {
  body::-webkit-scrollbar{
    display: none;
    -ms-overflow-style: none;  
    scrollbar-width: none; 
  }
}
