@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

:root {
  --blue-color: #163b50;
  --orange-color: #ef8f23;
  --cream-color: #eeeeee;
  --grey-color: #f7f7fb;
  --green-color: #48d38a;
  --light-orange: #fff1e0;
}
*::selection, *::-moz-selection, *::-webkit-selection{
  background-color: var(--blue-color);
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

html{
  scroll-behavior: smooth;
}

body {
 width: 100%;
 height: 100vh;
 background-color: white;
 font-optical-sizing: auto;
 font-style: normal;
 font-family: "Hind Madurai", sans-serif;
 font-size: 14px;
 line-height: 20px;
}

h1,h2,h3,h4,h5,h6{
  font-family: "Lora", serif;
}

a {
  text-decoration: none;
}

li{
  list-style: none;
}

button{
  transition: 0.3s all ease-in-out;
  cursor: pointer;
}
button:active{
  transform: scale(0.68);
}

@media screen and (max-width:1000px) {
  body::-webkit-scrollbar{
    display: none;
    -ms-overflow-style: none;  
    scrollbar-width: none; 
  }
}
