.main{
    > .blogCard{
        width: 340px;
        margin-bottom: 50px;
        background-color: var(--cream-color);
        border-radius: 5px;
        > .blogCardImage{
            width: 100%;
            height: 250px;
            background-color: bisque;
            margin-bottom: 15px;

            > .image{
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
        > .blogCardInfo{
            width: 100%;
            height: 30%;
            padding-inline: 15px;
            > .link{
                color: var(--blue-color);
                > .blogCardHeading{
                    font-size: 19px;
                    padding-bottom: 15px;
                    text-transform: capitalize;
                }
            }
            > .link:hover{
                color: var(--orange-color);
            }
            > .blogCardIntro{
                padding-bottom: 10px;
            }
            > .blogCardSmall{
                display: flex;
                justify-content: space-between;
                padding-bottom: 20px;
                font-size: 13px;
            }
            > .blogCardBLink{
                > .blogCardButton{
                    width: 100%;
                    padding-block: 8px;
                    background-color: var(--blue-color);
                    color: white;
                    outline: none;
                    border: none;
                    font-size: 16px;
                    margin-bottom: 15px;
                    border-radius: 3px;
                }
                > .blogCardButton:hover{
                    background-color: var(--orange-color);
                }
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    .main{
        > .blogCard{
            width: 300px;
        }
    }
}
@media screen and (max-width:700px) {
    .main{
        padding: 0;
        > .blogCard{
            width: 100%;
        }
    }
}