.main{
    > .blogCard{
        padding: 10px;
        width: 350px;
        margin-bottom: 50px;
        > .blogCardImage{
            width: 100%;
            height: 250px;
            background-color: bisque;
            margin-bottom: 20px;
            border-radius: 10px;

            > .image{
                width: 100%;
                height: 100%;
                object-fit: contain;
                border-radius: 10px;
            }
        }
        > .blogCardInfo{
            width: 100%;
            height: 30%;
            padding-inline: 5px;
            > .blogCardHeading{
                font-size: 20px;
                padding-bottom: 15px;
                text-transform: capitalize;
            }
            > .blogCardSmall{
                display: flex;
                justify-content: space-between;
                padding-bottom: 20px;
                /* > .author{

                }
                > .date{

                } */
            }
        }
    }
}