.main {
  background-color: #eeeeee;
  color: var(--blue-color);
  max-width: 100%;
  > .section {
    width: 100%;
    > .hero {
      width: 100%;
      background-image: url("../../../../../public/images/personal\ backg\ image.png");
      background-size: contain;
      padding: 120px 100px 120px;
      margin-bottom: 75px;
      border-radius: 0 0 50% 50% / 50px;
      > .heroHeading2 {
        text-align: center;
        margin: 0 auto;
        font-size: 60px;
        line-height: 65px;
        width: 80%;
        padding-block: 15px;
      }
      > .heroDesc {
        font-size: 18px;
        line-height: 23px;
        text-align: center;
        margin: 0 auto;
        width: 80%;
      }
    }

    > .contactSection {
      display: flex;
      gap: 50px;
      width: 100%;
      padding: 50px 100px 75px;
      > .otherContactBox {
        width: 35%;
        > .otherContact {
          display: flex;
          gap: 20px;
          background-color: white;
          margin-bottom: 30px;
          padding: 10px 20px;
          align-items: center;
          height: 209px;
          box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
          border-radius: 5px;

          > .icon {
            font-size: 80px;
            color: var(--orange-color);
          }
          > .otherContactInfo {
            display: flex;
            flex-direction: column;

            > .otherContactHeading {
              font-size: 25px;
              padding-bottom: 10px;
            }
            > .otherContactDay {
              padding-top: 5px;
            }
            > .otherContactTime {
              padding-bottom: 10px;
              width: 80%;
            }
            > .otherContactContact {
              text-decoration: underline;
              cursor: pointer;

              > .otherContactLink {
                color: var(--blue-color);
                font-size: 15px;
              }
              > .otherContactLink:hover {
                transition: all ease-in-out 0.3s;
                font-weight: bold;
              }
            }
          }
        }
      }
      > .contactForm {
        width: 65%;
        > .formHeading {
          font-size: 30px;
          padding-bottom: 8px;
        }
        > .formDescription {
          width: 90%;
          padding-top: 10px;
        }
        > .horizontal {
          width: 10%;
          border: 2px solid var(--blue-color);
          border-radius: 10px;
        }
        > .form {
          margin-block: 20px;
          > .inputBox {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-auto-rows: minmax(50px, auto);
            gap: 20px;

            > .textArea {
              grid-column: 1/3;
              height: 120px;
            }

            > .input,
            .textArea {
              border-radius: 5px;
              outline: none;
              background-color: white;
              border: 0;
              padding: 10px;
              color: var(--blue-color);
            }
            > .input:nth-of-type(3) {
              grid-column: 1 / span 2;
            }

            > .input::placeholder,
            .textArea::placeholder {
              font-size: 15px;
              color: var(--blue-color);
              font-family: "Hind Madurai", sans-serif;
            }
          }
          > .formButton {
            padding-block: 16px;
            padding-inline: 20px;
            margin-block: 40px;
            border: 0;
            border-radius: 5px;
            background-color: var(--blue-color);
            color: white;
          }
          > .formButton:hover {
            background-color: var(--orange-color);
          }
        }
      }
    }
  }
}


@media screen and (max-width: 1000px) {
  .main{
    > .section{
      > .hero{
        padding-inline: 30px;
      }
      > .contactSection{
        padding-inline: 30px;
        > .otherContactBox{
          display: none;
        }
        > .contactForm{
          width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .main{
    > .section{
      > .hero{
        > .heroHeading2{
          width: 100%;
          font-size: 40px;
          line-height: 45px;
        }
        > .heroDesc{
          width: 100%;
        }
      }

      > .contactSection{
        > .contactForm{
          > .form{
            > .inputBox{
              grid-template-columns: 1fr;
              gap: 0;
              row-gap: 20px;
            }
            > .input:first-of-type, .input:nth-of-type(2){
              grid-column: 1 / span 2;
            }
          }
        }
      }
    }
  }
}