.main {
  background-color: #eeeeee;
  color: var(--blue-color);
  font-size: 16px;
  > .section {
    width: 100%;
    padding-bottom: 100px;

    > .hero {
      width: 100%;
      background-image: url("../../../../../public/images/personal\ backg\ image.png");
      background-size: contain;
      padding: 120px 100px 120px;
      margin-bottom: 75px;
      border-radius: 0 0 50% 50% / 50px;
      > .heroHeading2 {
        text-align: center;
        margin: 0 auto;
        font-size: 60px;
        line-height: 65px;
        width: 90%;
      }
      > .heroDesc {
        font-size: 18px;
        line-height: 23px;
        text-align: center;
        margin: 0 auto;
        width: 75%;
        padding-block: 15px;
      }
      > .search {
        display: flex;
        justify-content: center;
        width: 100%;
        > .searchField {
          width: 50%;
          height: 45px;
          border-radius: 20px;
          outline: none;
          margin-inline: auto;
          border: none;
          padding: 20px 45px 20px 20px;
          margin-inline: auto;
          position: relative;
          font-size: 16px;
        }
        > .searchField::placeholder {
          color: var(--blue-color);
          font-size: 16px;
        }
        > .icon {
          position: relative;
          font-size: 25px;
          right: 27.5%;
          padding-top: 3px;
          color: var(--orange-color);
          border: none;
          background-color: transparent;
          outline: none;
        }
      }
    }

    > .search {
      display: flex;
      justify-content: center;
      width: 100%;
      > .searchField {
        width: 50%;
        height: 45px;
        border-radius: 20px;
        outline: none;
        margin-inline: auto;
        border: none;
        padding: 20px 45px 20px 20px;
        margin-inline: auto;
        position: relative;
        font-size: 16px;
      }
      > .searchField::placeholder {
        color: var(--blue-color);
        font-size: 16px;
      }
      > .icon {
        position: relative;
        font-size: 25px;
        right: 27.5%;
        padding-top: 3px;
        color: var(--orange-color);
        border: none;
        background-color: transparent;
        outline: none;
      }
    }

    > .questionsBox {
      background-color: white;
      margin-inline: 100px;
      padding-inline: 40px;
      border-radius: 10px;
      > .details {
        position: relative;
        > .summary {
          cursor: pointer;
          border-bottom: 1px solid var(--blue-color);
          font-weight: 500;
          list-style: none;
          padding: 20px 0;
        }
        > .summary::-webkit-details-marker {
          display: none;
        }
        > .summary {
          display: flex;
          justify-content: space-between;
        }
        > .summary::after {
          content: "";
          width: 20px;
          height: 20px;
          background: url("../../../../../public/icons/angle-down-solid.svg");
          background-size: cover;
          margin-left: 0.75em;
          transition: 0.2s;
          color: var(--blue-color);
        }
        > .contentBox {
          border-radius: 5px;
          padding: 20px 30px;
          margin-top: 10px;
        }
      }
      > .details[open] {
        > .summary::after {
          transform: rotate(180deg);
        }
      }
    }
  }
}
