.main {
  color: var(--blue-color);
  background-color: #f9fafb;
  font-size: 14px;

  > .section {
    width: 100%;
    padding-bottom: 100px;
    padding-block: 60px;

    > .hero {
      width: 100%;
      background-image: url("../../../../../public/images/personal\ backg\ image.png");
      background-size: contain;
      padding: 120px 100px 120px;
      margin-bottom: 75px;
      border-radius: 0 0 50% 50% / 50px;
      > .heroHeading2 {
        text-align: center;
        margin: 0 auto;
        font-size: 60px;
        line-height: 65px;
        width: 90%;
      }
      > .heroDesc {
        font-size: 18px;
        line-height: 23px;
        text-align: center;
        margin: 0 auto;
        width: 75%;
        padding-block: 15px;
      }
      > .search {
        display: flex;
        justify-content: center;
        width: 100%;
        > .searchField {
          width: 50%;
          height: 45px;
          border-radius: 20px;
          outline: none;
          margin-inline: auto;
          border: none;
          padding: 20px 45px 20px 20px;
          margin-inline: auto;
          position: relative;
          font-size: 16px;
        }
        > .searchField::placeholder {
          color: var(--blue-color);
          font-size: 16px;
        }
        > .icon {
          position: relative;
          font-size: 25px;
          right: 27.5%;
          padding-top: 3px;
          color: var(--orange-color);
          border: none;
          background-color: transparent;
          outline: none;
        }
      }
    }

    > .search {
      display: flex;
      justify-content: center;
      width: 100%;
      > .searchField {
        width: 50%;
        height: 45px;
        border-radius: 20px;
        outline: none;
        margin-inline: auto;
        border: none;
        padding: 20px 45px 20px 20px;
        margin-inline: auto;
        position: relative;
        font-size: 16px;
      }
      > .searchField::placeholder {
        color: var(--blue-color);
        font-size: 16px;
      }
      > .icon {
        position: relative;
        font-size: 25px;
        right: 27.5%;
        padding-top: 3px;
        color: var(--orange-color);
        border: none;
        background-color: transparent;
        outline: none;
      }
    }

    > .faqsButton{
      padding: 15px 30px;
      margin: 0px 100px 75px;
      border: .7px solid rgba(223, 227, 255, .5);
      max-width: 100%;
      display: flex;
      justify-content: space-between;
      border-radius: 30px;
      background-color: white;
      box-shadow: 0 2px 2px rgba(0, 0, 0, .1);
      > .faqButton{
        border: none;
        outline: none;
        background: none;
        padding: 5px 0;
        font-weight: 500;
        font-size: 16px;
        color: var(--blue-color);
        background-color: none;
        display: flex;
        gap: 5px;
        align-items: center;
      }
      > .faqButton:hover, .faqButton:visited, .faqButton:focus{
        transition: all 0.2s ease-in-out;
        border-bottom: 2px solid var(--blue-color);
      }
      > .faqButton:active{
        color: #2c3e48;
      }
    }

    > .questionsBox, .businessQuestionsBox, .posQuestionsBox {
      margin-inline: 100px;
      padding-inline: 40px;
      border-radius: 10px;
      > .heading{
        padding-bottom: 50px;
        font-size: 40px;
        line-height: 45px;
        text-align: center;
      }
      > .details {
        position: relative;
        > .summary {
          cursor: pointer;
          background-color: white;
          list-style: none;
          padding: 20px 20px;
          font-size: 15px;
          font-weight: 400;
          margin-bottom: 20px;
        }
        > .summary::-webkit-details-marker {
          display: none;
        }
        > .summary {
          display: flex;
          justify-content: space-between;
        }
        > .summary::after {
          content: "";
          width: 20px;
          height: 20px;
          background: url("../../../../../public/icons/angle-down-solid.svg");
          background-size: cover;
          margin-left: 0.75em;
          transition: 0.2s;
          color: var(--blue-color);
        }
        > .contentBox {
          color: black;
          border-radius: 5px;
          padding: 20px 40px;
          background-color: white;
          margin-top: -20px;
          margin-bottom: 20px;
        }
      }
      > .details[open] {
        > .summary::after {
          transform: rotate(180deg);
        }
      }
    }
  }
}


@media screen and (max-width:1000px) {
  .main{
    > .section{
      > .hero{
        padding-inline: 30px;
        > .search{
          > .searchField{
            width: 60%;
          }
          > .icon{
            right: 25%;
          }
        }
      }

      > .questionsBox, .businessQuestionsBox, .posQuestionsBox{
        margin-inline: 30px;
        padding-inline: 20px;
        > .details{
          > .summary{
            padding-inline:10px;
          }
        }
      }

      > .faqsButton{
        margin-inline: 20px;
      }
    }
  }
}

@media screen and (max-width:700px) {
  .main{
    > .section{
      > .hero{
        > .heroHeading2{
          width: 100%;
          font-size: 40px;
          line-height: 45px;
        }
        > .heroDesc{
          width: 100%;
        }
        > .search{
          > .searchField{
            width: 100%;
          }
          > .icon{
            right: 10%;
          }
        }
      }
      > .questionsBox, .businessQuestionsBox, .posQuestionsBox{
        margin-inline: 10px;
        padding-inline: 10px;
        > .details{
          > .summary{
            padding-inline:5px;
          }
        }
      }
      > .faqsButton{
        margin-inline: 5px;
      }
    }
  }
}