.main {
  > .feature {
    width: 100%;
    height: max-content;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    margin-bottom: 100px;
    gap: 150px;

    > .featureContent {
      width: 50%;
      > .featureHeading {
        font-size: 30px;
        line-height: 35px;
        padding-bottom: 20px;
        width: 90%;
      }
      > .featureInfo {
        padding-bottom: 20px;
        width: 90%;
      }
      > .featureLists {
        width: 100%;
        padding-bottom: 20px;
        > .featureList {
          display: flex;
          gap: 5px;
          > .check {
            color: var(--green-color);
          }
        }
      }
      > .buttonBox {
        display: flex;
        gap: 20px;
        > .featureLink1 {
          > .featureButton1 {
            display: flex;
            align-items: center;
            gap: 8px;
            border: none;
            outline: none;
            background-color: black;
            color: white;
            padding: 10px;
            border-radius: 5px;
            > .arrowRight {
              font-size: 16px;
            }
          }
          > .featureButton1:hover {
            background-color: var(--blue-color);
          }
        }
        > .featureLink2 {
          > .featureButton2 {
            padding: 12px;
            border-radius: 5px;
            border: 2px solid var(--grey-color);
            background-color: white;
            outline: none;
          }
          > .featureButton2:hover {
            background-color: var(--blue-color);
            color: white;
          }
        }
      }
    }
    > .featureImageBox {
      width: 50%;
      height: 350px;
      > .featureImage {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  
  > .feature:nth-of-type(2n){
    flex-direction: row;
  }
}

@media screen and (max-width: 1000px) {
  .main{
    > .feature{
      flex-direction: column;
      padding-inline: 0;
      gap: 10px;
      > .featureContent{
        padding: 20px;
        text-align: center;
        width: 100%;
        > .featureHeading{
          margin: 0 auto;
        }
        > .featureInfo{
          margin: 0 auto;
        }
        > .featureLists{
          > .featureList{
            justify-content: center;
          }
        }
        > .buttonBox{
          justify-content: center;
        }
      }
      > .featureImageBox{
        width: 100%;
        > .featureImage{
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .main{
    > .feature{
      > .featureContent{
        > .featureHeading{
          width: 100%;
        }
        > .featureInfo{
          width: 100%;
        }
        > .buttonBox{
          justify-content: center;
        }
      }
  }
}
}