.main{
    max-width: 100%;
    color: var(--blue-color);
    > .section{
        padding-block: 100px;
        > .postBox{
            padding-inline: 100px;
            width: 100%;
            gap: 20px;
            > .postContent{
                width: 100%;
                > .postHeading{
                    text-transform: capitalize;
                    padding-bottom: 30px;
                    font-size: 36px;
                    line-height: 41px;
                }
                > .postSmall{
                    padding-bottom: 50px ;
                    display: flex;
                    justify-content: space-between;
                    > .postAuthor{

                    }
                    > .postDate{

                    }
                }
                > .content{
                    padding-bottom: 20px;
                }
                > .postSubHeading{
                    padding-bottom: 30px;
                    font-size: 24px;
                }

                > .postImage{
                    margin-bottom: 30px;
                    width: 100%;
                    height: 500px;
                    object-fit: contain;
                }
                > .content{
                    color: black;
                    padding-bottom: 30px;
                }
                > .socials{
                    display: flex;
                    gap: 7px;
                    margin-block: 5px;
                    > .icon{
                        color: var(--blue-color);
                        font-size: 18px;
                    }
                }
            }
        }
        > .latestPost{
            background-color: var(--grey-color);
            margin-top: 100px;
            padding-inline: 100px;
            > .latestHeading{
                font-size: 30px;
                padding: 50px 10px 30px;
            }
            > .latestBox{
                width: 100%;
                display: flex;
                justify-content: space-evenly;
                flex-basis: 30%;
                flex-wrap: wrap;
            }

        }
    }
}