.footer{
    background-color: white;

    > .section{
        width: 100%;
        padding-inline: 30px;

        > .container{
            display: flex;
            justify-content: space-between;
            margin-top: 50px;
            margin-bottom: 10px;

            > .imageBox{
                > .logo{
                    width: 200px;
                    height: 50px;
                    object-fit: cover;
                    object-position: center;
                    padding: 10px;
                }

                > .socials{
                    display: flex;
                    gap: 10px;
                    padding-left: 20px;
                    > .social{
                        font-size: 25px;
                        color: var(--blue-color);
                        > .socialLink{
                            color: var(--blue-color)
                        }
                        > .socialLink:hover{
                            color: var(--orange-color);
                        }
                    }
                }
            }

            > .content{
                display: flex;
                flex-direction: column;
                padding: 5px;
                > .Heading{
                    padding: 5px;
                    color: var(--blue-color);
                    font-size: 18px;
                }
                > .listItems{
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    padding: 5px;
                    > .listLink{
                        color: var(--blue-color);
                    }
                    > .listLink:hover{
                        color: var(--orange-color);
                        transition: 0.3s all ease-in-out;
                    }
                }
            }
        }
        > .horizontal{
            border: 1px solid var(--blue-color);
            margin-bottom: 10px;
        }
        > .paragraph{
            text-align: center;
            color: var(--blue-color);
            width: 90%;
            margin-inline: auto;
        }
        > .paragraph:last-child{
            padding-bottom: 20px;
        }
    }

}