.serviceBox{
    width: 100%;
    display: flex;
    margin-block: 100px;
    align-items: center;
    background-color: white;
    height: 350px;

    > .serviceImage{
        width: 50%;
        height: inherit;
        > .image{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    > .serviceInfo{
        width: 50%;
        padding: 30px;
        > .heading{
            width: 90%;
            font-size: 30px;
            line-height: 35px;
            padding-bottom: 30px;
            color: var(--orange-color);
        }
        > .content{
            width: 90%;
            color: var(--blue-color);
            padding-bottom: 30px;
        }
        > .link{
            color: var(--orange-color);
            text-decoration: underline;
            > .linkCont{
                padding-right: 5px;
            }
        }
    }
}
.serviceBox:nth-child(2){
    > .serviceImage{
        order: 2;
    }
    > .serviceInfo{
        order: 1;
    }
}
.serviceBox:nth-child(4){
    > .serviceImage{
        order: 2;
    }
    > .serviceInfo{
        order: 1;
    }
}