.main {
  > .feature {
    width: 100%;
    height: 350px;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    padding-inline: 50px;
    margin-bottom: 75px;
    gap: 20px;

    > .featureContent {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      width: 50%;
      padding: 20px;
      > .featureHeading {
        font-size: 30px;
        line-height: 35px;
        padding-bottom: 20px;
        width: 70%;
      }
      > .featureInfo {
        padding-bottom: 20px;
        width: 70%;
      }
      > .featureLists {
        width: 100%;
        padding-bottom: 20px;
        > .featureList {
          display: flex;
          gap: 5px;
          > .check {
            color: var(--green-color);
          }
        }
      }
      > .buttonBox {
        display: flex;
        gap: 20px;
        width: 70%;
        > .featureLink {
          > .featureButton {
            display: flex;
            align-items: flex-start;
            gap: 8px;
            border: none;
            outline: none;
            background-color: black;
            color: white;
            padding: 10px;
            border-radius: 5px;
            > .arrowRight {
              font-size: 16px;
            }
          }
          > .featureButton:hover {
            background-color: var(--blue-color);
          }
        }
      }
    }
    > .featureImageBox {
      width: 50%;
      height: 100%;
      > .featureImage {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
  > .feature:nth-of-type(even){
    flex-direction: row-reverse;
  }
}



@media screen and (max-width: 1000px) {
  .main{
    > .feature{
      flex-direction: column;
      height: fit-content;
      padding-inline: 0;
      > .featureContent{
        text-align: center;
        width: 100%;
        > .featureHeading{
          margin: 0 auto;
        }
        > .featureInfo{
          margin: 0 auto;
        }
        > .featureLists{
          > .featureList{
            justify-content: center;
          }
        }
        > .buttonBox{
          width: 100%;
          justify-content: center;
        }
      }
      > .featureImageBox{
        width: 100%;
        height: 300px;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .main{
    > .feature{
      > .featureContent{
        > .featureHeading{
          width: 100%;
        }
        > .featureInfo{
          width: 100%;
        }
        > .buttonBox{
          justify-content: center;
        }
      }
  }
}
}