.main {
  width: 100%;
  color: var(--blue-color);
  background-color: var(--grey-color);
  > .section {
    padding-bottom: 75px;
    > .hero{
      width: 100%;
      background-image: url("../../../../../public/images/personal\ backg\ image.png");
      background-size: contain;
      padding: 120px 100px 120px;
      margin-bottom: 75px;
      border-radius: 0 0 50% 50% / 50px; 
      > .heroHeading{
        text-align: center;
        font-size: 18px;
        width: fit-content;
        background-color: var(--blue-color);
        color: white;
        padding: 10px 15px;
        margin: 0 auto;
        border-radius: 20px;
      }
      > .heroHeading2{
        text-align: center;
        margin: 0 auto;
        font-size: 60px;
        line-height: 65px;
        width: 90%;
        padding-block: 15px;
      }
      > .heroDesc{
        font-size: 18px;
        line-height: 23px;
        text-align: center;
        margin: 0 auto;
        width: 60%;
      }
    }
    > .intro {
      width: 100;
      display: flex;
      gap: 20px;
      margin-bottom: 75px;
      padding-inline: 100px;

      > .introContent {
        width: 50%;
        padding: 10px;
        > .introHeading {
          font-size: 40px;
          font-weight: bolder;
          padding-bottom: 30px;
        }
        > .introInfo {
          padding-bottom: 20px;
          text-align: justify;
        }
        > .buttonLink {
          > .joinButton {
            padding: 10px;
            border-radius: 5px;
            background-color: var(--orange-color);
            color: white;
            border: none;
          }
          > .joinButton:hover{
            transition: all ease-in-out 0.3s;
            background-color: var(--blue-color);
          }
        }
      }
      > .introImage {
        width: 50%;
      }
    }
    > .otherAbout {
      padding-inline: 100px;
      > .otherAboutHeading {
        font-size: 30px;
        text-align: center;
        padding-bottom: 20px;
      }
      > .otherAboutInfo {
        text-align: center;
        margin-inline: auto;
        width: 65%;
        padding-bottom: 10px;
      }
    }
    > .foundersBox{
      padding-inline: 100px;
      margin: 75px auto 0;
      display: flex;
      width: 80%;
      gap: 20px;

      > .founder{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;
        padding: 10px;

        > .founderImage{
          width: 200px;
          height: 200px;
          border-radius: 50%;
          margin-inline: auto;
        }
        > .name{
          font-weight: bold;
          color: var(--orange-color);
          padding-block: 5px;
          text-align: center;
        }
        > .title{
          text-align: center;
        }
      }
    }

    > .mvBox{
      margin-block: 75px;
      display: flex;
      width: 100%;
      padding-inline: 100px;
      > .missionBox, > .visionBox{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        flex-basis: 33.33%;
        > .missionHeading, > .visionHeading{
          font-size: 30px;
          line-height: 45px;
        }
        > .icon{
          display: flex;
          flex-direction: column;
          font-size: 60px;
          color: var(--orange-color);
        }
        > .mission, > .vision{
          padding-block: 20px;
        }

      } 
      >.coreBox{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        flex-basis: 33.33%;
        > .icon{
          display: flex;
          flex-direction: column;
          font-size: 60px;
          color: var(--orange-color);
        }
        > .coreHeading{
          font-size: 30px;
          line-height: 45px;
        }
        > .coreDesc{
          padding-block: 20px;
          > .bold{
            font-weight: bold;
          }
        }
        > .coreValues{
          width: 100%;
          > .coreValue{
            text-align: left;
          }
          > .coreValue::first-letter{
            font-weight: bold;
          }
        }
      }
    }
  }
}
