.main {
  width: 100%;
  color: var(--blue-color);
  background-color: var(--grey-color);
  > .section {
    padding: 100px;

    > .hero {
      width: 100;
      display: flex;
      gap: 20px;
      margin-bottom: 75px;

      > .heroContent {
        width: 50%;
        padding: 10px;
        > .heroHeading {
          font-size: 40px;
          font-weight: bolder;
          padding-bottom: 30px;
        }
        > .heroInfo {
          padding-bottom: 20px;
          text-align: justify;
        }
        > .buttonLink {
          > .joinButton {
            padding: 10px;
            border-radius: 5px;
            background-color: var(--orange-color);
            color: white;
            border: none;
          }
          > .joinButton:hover{
            transition: all ease-in-out 0.3s;
            background-color: var(--blue-color);
          }
        }
      }
      > .heroImage {
        width: 50%;
      }
    }
    > .otherAbout {
      > .otherAboutHeading {
        font-size: 30px;
        text-align: center;
        padding-bottom: 20px;
      }
      > .otherAboutInfo {
        text-align: center;
        margin-inline: auto;
        width: 65%;
        padding-bottom: 10px;
      }
    }
    > .foundersBox{
      margin: 75px auto 0;
      display: flex;
      width: 80%;
      gap: 20px;

      > .founder{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;
        padding: 10px;

        > .founderImage{
          width: 200px;
          height: 200px;
          border-radius: 50%;
          margin-inline: auto;
        }
        > .name{
          font-weight: bold;
          color: var(--orange-color);
          padding-block: 5px;
          text-align: center;
        }
        > .title{
          text-align: center;
        }
      }
    }
    > .mvBox{
      margin-block: 75px;
      display: flex;
      width: 100%;
      > .missionBox, > .visionBox{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        flex-basis: 33.33%;
        > .missionHeading, > .visionHeading{
          font-size: 30px;
          line-height: 45px;
        }
        > .icon{
          display: flex;
          flex-direction: column;
          font-size: 60px;
          color: var(--orange-color);
        }
        > .mission, > .vision{
          padding-block: 20px;
        }

      } 
      >.coreBox{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        flex-basis: 33.33%;
        > .icon{
          display: flex;
          flex-direction: column;
          font-size: 60px;
          color: var(--orange-color);
        }
        > .coreHeading{
          font-size: 30px;
          line-height: 45px;
        }
        > .coreDesc{
          padding-block: 20px;
          > .bold{
            font-weight: bold;
          }
        }
        > .coreValues{
          width: 100%;
          > .coreValue{
            text-align: left;
          }
          > .coreValue::first-letter{
            font-weight: bold;
          }
        }
      }
    }

    > .cta {
      display: flex;
      gap: 20px;
      margin: 75px auto 0;
      width: 80%;
      background-color: #ef90232e;
      box-shadow: 15px 30px 30px rgba(109, 77, 25, 0.07);
      border-radius: 5px;
      border: 1px solid hsla(228, 7%, 87%, .5);

        > .ctaContent {
          display: flex;
          flex-direction: column;
          justify-content: center;
          width: 50%;
          padding: 30px;
          > .ctaHeading {
          font-size: 30px;
          padding-bottom: 50px;
          }
          > .ctaInfo {
          padding-bottom: 50px;
          }
          > .iconBox {
          display: flex;
          gap: 20px;
          }
        }

        > .ctaImage {
            width: 50%;
            height: 350px;
            > .image{
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
        }
    }
  }
}
