.main {
  background-color: #eeeeee;
  color: var(--blue-color);
  > .section {
    width: 100%;
    padding-inline: 50px;
    > .intro {
      > .heading {
        font-size: 70px;
        width: 70%;
        padding-top: 75px;
        margin-inline: auto;
        text-align: center;
        line-height: 65px;
      }
      > .description {
        font-size: 20px;
        padding-top: 20px;
        width: 90%;
        margin-inline: auto;
        text-align: center;
      }
    }
    > .contactSection {
        display: flex;
        gap: 20px;
        width: 100%;
        margin-top: 100px;

      > .otherContactBox {
        width: 30%;
        > .otherContact{
            display: flex;
            gap: 20px;
            background-color: white;
            margin-bottom: 30px;
            padding: 20px;
            align-items: center;
            height: 209px;
            box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
            border-radius: 5px;

            > .icon{
                font-size: 80px;
                color: var(--orange-color);
            }
            > .otherContactInfo{
                display: flex;
                flex-direction: column;

                > .otherContactHeading{
                    font-size: 25px;
                    padding-bottom: 10px;
                }
                > .otherContactDay{
                    padding-top: 5px;
                }
                > .otherContactTime{
                    padding-bottom: 5px;
                }
                > .otherContactContact{
                    text-decoration: underline;
                    cursor: pointer;

                    > .otherContactLink{
                        color: var(--blue-color);
                    }
                }
            }
        }
      }
      > .contactForm {
        width: 70%;
        > .formHeading{
            font-size: 30px;
            padding-bottom: 8px;
        }
        > .formDescription{
            width: 90%;
            padding-top: 10px;
        }
        > .horizontal{
            width: 10%;
            border: 2px solid var(--blue-color);
            border-radius: 10px;
        }
        > .form{
            margin-block: 20px;
            > .inputBox{
                display: grid;
                grid-template-columns: repeat(2,1fr);
                grid-auto-rows: minmax(50px,auto);
                gap: 20px;

                > .textArea{
                    grid-column: 1/3;
                    height: 120px;
                }

                > .input, .textArea{
                    border-radius: 5px;
                    outline: none;
                    background-color: white;
                    border: 0;
                    padding: 10px;
                    color: var(--blue-color);
                }

                > .input::placeholder, .textArea::placeholder{
                    font-size: 14px;
                    color: var(--blue-color);
                    font-family: "Hind Madurai", sans-serif;
                }
            }
            > .formButton{
                padding-block: 16px;
                padding-inline: 20px;
                margin-block: 40px;
                border: 0;
                border-radius: 5px;
                background-color: var(--blue-color);
                color: white;
            }
            > .formButton:hover{
                background-color: var(--orange-color);
            }
        }
      }
    }
  }
}
