.main {
  background-color: #eeeeee;
  color: var(--blue-color);
  > .section {
    width: 100%;
    padding: 0 0 100px;
    > .hero{
      width: 100%;
      background-image: url("../../../../../public/images/personal\ backg\ image.png");
      background-size: contain;
      padding: 120px 100px 120px;
      margin-bottom: 75px;
      border-radius: 0 0 50% 50% / 50px; 
      > .heroHeading{
        text-align: center;
        font-size: 18px;
        width: fit-content;
        background-color: var(--blue-color);
        color: white;
        padding: 10px 15px;
        margin: 0 auto;
        border-radius: 20px;
      }
      > .heroHeading2{
        text-align: center;
        margin: 0 auto;
        font-size: 60px;
        line-height: 65px;
        width: 90%;
        padding-block: 15px;
      }
      > .heroDesc{
        font-size: 18px;
        line-height: 23px;
        text-align: center;
        margin: 0 auto;
        width: 80%;
      }
    }

    > .getHelpBoxes {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-top: 100px;
      padding: 0 100px 50px;

      > .getHelpBox {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.06);
        padding: 20px;
        background-color: white;
        width: 30%;
        border-radius: 5px;

        > .getHelpHeading {
          font-size: 24px;
          line-height: 32px;
          height: 20%;
        }
        > .getHelpContent {
          padding-block: 20px;
          font-size: 16px;
          height: 60%;
        }
        > .getHelpLinkBox {
          display: flex;
          gap: 10px;
          margin-bottom: 5px;
          height: 10%;

          > .icon {
            color: var(--blue-color);
            padding-right: 5px;
            font-size: 20px;
            > .image {
              height: 22px;
              width: 22px;
            }
          }
          > .getHelpLink {
            font-size: 16px;
            text-decoration: underline;
            color: var(--blue-color);
          }
          > .getHelpLink:hover {
            color: var(--orange-color);
            transition: all ease-in-out 0.3s;
          }
        }
      }
      > .getHelpBox:hover{
        transform: scale(1.1);
      }
    }

    > .otherHelpLink {

      > .otherHelpBox {
        display: flex;
        width: 40%;
        justify-content: space-between;
        background-color: var(--blue-color);
        align-items: center;
        border-radius: 20px;
        padding: 10px 20px;
        cursor: pointer;
        margin:0 100px 20px;

        > .otherHelpContent {
          font-size: 20px;
          color: white;
        }
        > .otherHelpIcon {
          font-size: 20px;
          color: white;
        }
      }
      > .otherHelpBox:hover{
        transition: all ease-in-out 0.5s;
        background-color: var(--orange-color);
        width: 85%;
      }
    }
  }
}


@media screen and (max-width: 1000px) {
  .main{
    > .section{
      > .hero{
        padding-inline: 30px;
      }

      > .getHelpBoxes{
        padding-inline: 30px;
        flex-wrap: wrap;
        > .getHelpBox{
          width: 48%;
          margin-bottom: 50px;
        }
        > .getHelpBox:last-of-type{
          margin-inline: auto;
          width: 50%;
        }
      }

      > .otherHelpLink{
        > .otherHelpBox{
          margin-inline: 30px;
        }
        > .getHelpBox:hover{
          width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .main{
    > .section{
      > .hero{
        > .heroHeading2{
          width: 100%;
          font-size: 35px;
          line-height: 40px;
        }
        > .heroDesc{
          width: 100%;
        }
      }

      > .getHelpBoxes{
        > .getHelpBox{
          width: 100%;
        }
        > .getHelpBox:last-of-type{
          width: 100%;
        }
      }

      > .otherHelpLink{
        > .otherHelpBox{
          width: 80%;
        }
      }
    }
  }
}