.main{
  width: 100%;
    > .cta {
        display: flex;
        color: var(--blue-color);
        gap: 20px;
        margin: 50px auto 0;
        width: 70%;
        background-image: url("../../../../public/images/personal\ backg\ image.png");
        background-size: contain;
        box-shadow: 15px 30px 30px rgba(109, 77, 25, 0.07);
        border-radius: 5px;
        border: 1px solid hsla(228, 7%, 87%, 0.5);
  
        > .ctaContent {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-end;
          width: 50%;
          padding: 30px;

          > .ctaHeading {
            font-size: 40px;
            line-height: 45px;
            width: 90%;
            padding-bottom: 30px;
          }
          > .ctaInfo {
            padding-bottom: 30px;
            width: 90%;
          }
          > .iconBox {
            width: 90%;
            display: flex;
            align-items: flex-start;
            gap: 10px;
          }
        }
  
        > .ctaImage {
          width: 50%;
          height: 350px;
          > .image {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
}
 
@media  screen and (max-width: 1000px) {
  .main{
    width: 100%;
    > .cta{
      width: 100%;
      gap: 0;
      > .ctaContent{
        width: 100%;
        align-items: center;

        > .ctaHeading{
          text-align: center;
        }
        > .ctaInfo{
          text-align: center;
        }
        > .iconBox{
          justify-content: center;
        }
      }
      > .ctaImage{
        display: none;
      }
    }
  }
}

@media screen and (max-width:700px) {
  .main{
    > .cta{
      > .ctaContent{
        padding: 10px;
        > .iconBox{
          flex-direction: column;
          align-items: center;
        }
      }
    }
  }
}